body{
    background-color: white;
    margin: 0 10%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

.section{
    border: 2px solid black
    padding: 10px;
}

h1, h2{
    position: relative;
    margin: 0 auto;
}

.box{
    margin: 10px auto;
    padding: 30px;
    text-align: center;
    display: inline-block;
    width: 400px;
    height: 300px;
}

#violet{
    background-color: #AF38EB;
}
#lavender{
    background-color: #EB96EB;
}
#magenta{
    background-color: #E05194;
}
#charcoal{
    background-color: #808080;
}
#grey{
    background-color: #B8B8B8;
}
