body{
    background-color: white;
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

.section{
    border: 2px solid black
    padding: 10px;
    margin: 10px auto;
}

h1, h2{
    position: relative;
    margin: 10px auto;
}

.box{
    margin: 20px auto;
    text-align: center;
    display: inline-block;
    width: 32%;
    min-height: 100px;
}

#violet{
    background-color: #AF38EB;
}
#lavender{
    background-color: #EB96EB;
}
#magenta{
    background-color: #E05194;
}
#charcoal{
    background-color: #808080;
}
#grey{
    background-color: #B8B8B8;
}
